<div *ngIf="!connected" class="login-container col-md-4 mx-auto container">
  <form (ngSubmit)="connexion()">
    <div class="form-group">
      <label for="login" class="fs-5">Nom utilisateur</label>
      <input [(ngModel)]="login" name="login" type="text" class="form-control mb-4 mt-2" id="username"
        placeholder="Entrez le nom d'utilisateur..." />
    </div>
    <div class="form-group">
      <label for="password" class="fs-5">Mot de passe</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control mb-4 mt-2" id="password"
        placeholder="Renseignez votre mot de passe..." />
    </div>
    <div class="text-center">
      <button class="btn btn-dark mb-4 fs-4 px-5 py-3" type="submit">Se connecter ⚡</button>
    </div>
    <div class="text-center">
      <p class="fs-5 mb-5">Pas encore inscrit ? 👉 <a [routerLink]="['/formulaire']" class="fw-bold link-dark icon-link-hover">Inscrivez-vous</a> 👈</p>
    </div>
  </form>
</div>

<div *ngIf="connected" class="text-center">
  <p class="hello">Hello there, {{ prenom }} {{ nom }} 👋 !</p>
  <p class="mb-5">Visitez notre super catalogue en cliquant <a class="fw-bold link-dark icon-link-hover " [routerLink]="['/catalogue']">ICI</a> 🔥</p>
</div>

<div class="col-md-4 mx-auto">
  <div *ngIf="connexionOK" class="alert alert-success mb-5 text-center"> {{ connexionOK }} </div>
  <div *ngIf="connexionKO" class="alert alert-danger mb-5 text-center"> {{ connexionKO }} </div>
</div>